@charset "UTF-8"; 

body{
    background-color: black;

}
main{
    text-align: center;
}
div{
    height: 500px;
    width: 230px;
    display: inline-block;
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-image: url('Imagens/porta.jpg');
    background-size: cover;
   

}
header{
    background-color: black;
    height: 100px;
}
h1{
    text-align: center;
    color: white;
    
    
}
a{
    text-decoration: none;
}